# Dictionary

- we already seen many data type :---------

- string

- list

- set

- tuple

- Dictionary

- int

- float

- bool

- complex

- range

- bytes

In [1]:
dic={}
print(type(dic))

<class 'dict'>

**Zip**

In [2]:
names = ['Ramesh','Suresh','Satish']
age = [20,25,30]

for i,j in zip(names,age):
    print(i,j)

Ramesh 20
Suresh 25
Satish 30

In [3]:
list(zip(names,age))

[('Ramesh', 20), ('Suresh', 25), ('Satish', 30)]

In [ ]:
# dict = {<key>:<value>}
# names = ['Ramesh','Suresh','Satish']
# age = [20,25,30]
'Ramesh'  is the key =========== 20 its related value
dict = {'Ramesh':20,'Suresh':25,'Satish':30}

In [4]:
dict1 = {'Ramesh':20,'Suresh':25,'Satish':30}
type(dict1)

dict

In [ ]:
# If the list are of different length ?
# If both lists are different length
# Zip will not work

- initalization

- type

- max

- min 

- len

- reversed

- sorted

- in

- index

- mutable

- concatenation

- slicing

- methods

**initalization**

- create all type of dictionaries

In [5]:
dict1 = {'apple':100,"pizza":99}
dict2 = {9:7,2:5,7:0}
dict3 = {1:'car',2:'BALL',90:"CAR","Python":'Naresh it'}
print(dict1)
print(dict2)
print(dict3)

{'apple': 100, 'pizza': 99}
{9: 7, 2: 5, 7: 0}
{1: 'car', 2: 'BALL', 90: 'CAR', 'Python': 'Naresh it'}

In [2]:
dict = {'apple':100,"pizza":99}
dict[0]='cherry'
dict

{'apple': 100, 'pizza': 99, 0: 'cherry'}

In [ ]:
d1 = {'Manish':25,'Shubham':20,'Govindh':15}
d2 = {'Manish':'25','Shubham':'20','Govindh':'15'}
d3 = {25:'Manish',20:'Shubham',15:'Govindh'}
d4 = {25:50}
d5 = {'Fruites':['Apple','Cherry']}
d6 = {['Apple','Cherry']:'Fruites'}
d7 = {('Apple','Cherry'):'Fruites'}
d8 = {'Ajay':25,'Ajay':30}
d9 = {25:'Ajay',30:'Ajay'}
d10 = {'Fruties':{'Mango':25}}

In [3]:
d1 = {'Manish':25,'Shubham':20,'Govindh':15}
d1

{'Manish': 25, 'Shubham': 20, 'Govindh': 15}

In [4]:
d2 = {'Manish':'25','Shubham':'20','Govindh':'15'}
d2

{'Manish': '25', 'Shubham': '20', 'Govindh': '15'}

In [5]:
d3 = {25:'Manish',20:'Shubham',15:'Govindh'}
d3

{25: 'Manish', 20: 'Shubham', 15: 'Govindh'}

In [6]:
d4 = {25:50}
d4

{25: 50}

In [7]:
d5 = {'Fruites':['Apple','Cherry']}
d5

{'Fruites': ['Apple', 'Cherry']}

In [8]:
d6 = {['Apple','Cherry']:'Fruites'}
d6

TypeError: unhashable type: 'list'

In [9]:
d7 = {('Apple','Cherry'):'Fruites'}
d7

{('Apple', 'Cherry'): 'Fruites'}

In [10]:
d8 = {'Ajay':25,'Ajay':30}
d8

{'Ajay': 30}

In [11]:
d9 = {25:'Ajay',30:'Ajay'}
d9

{25: 'Ajay', 30: 'Ajay'}

In [12]:
d10 = {'Fruties':{'Mango':25}}
d10

{'Fruties': {'Mango': 25}}

**Key are important**

- Keys have only latest value

- No duplicate Keys

- Keys should be only one

- values can be duplicate

- which means different Keys can have same value

- List can not be a key, Because lists are mutable

- tuples can be Key, Because lists are immutable

In [ ]:
d1 = {'Manish':25,'Shubham':20,'Govindh':15}
d2 = {'Manish':'25','Shubham':'20','Govindh':'15'}
d3 = {25:'Manish',20:'Shubham',15:'Govindh'}
d4 = {'Manish':25,'Shubham':'20','Govindh':15}
d5 = {25:'Manish','20':'Shubham',15:'Govindh'}
d6 = {'Manish':20,'Shubham':20,'Govindh':20}
d7 = {20:'Manish',20:'Shubham',20:'Govindh'}

**max $ min**

In [13]:
#1
d1 = {'Manish':25,'Shubham':20,'Govindh':15}
max(d1)

'Shubham'

In [14]:
d1 = {'Manish':25,'Shubham':20,'Govindh':15}
min(d1)

'Govindh'

In [15]:
# 2
d2 = {'Manish':'25','Shubham':'20','Govindh':'15'}
max(d2)

'Shubham'

In [16]:
#3
d3 = {25:'Manish',20:'Shubham',15:'Govindh'}
max(d3)

25

In [17]:
#4
d4 = {'Manish':25,'Shubham':'20','Govindh':15}
max(d4)

'Shubham'

In [18]:
#5
d5 = {25:'Manish','20':'Shubham',15:'Govindh'}
max(d5)

TypeError: '>' not supported between instances of 'str' and 'int'

In [19]:
#6
d6 = {'Manish':20,'Shubham':20,'Govindh':20}
max(d6)

'Shubham'

In [21]:
# 7
d7 = {20:'Manish',20:'Shubham',20:'Govindh'}
max(d7)

20

**len**

In [23]:
d1 = {'Manish':25,'Shubham':20,'Govindh':15}
print(len(d1))
d2 = {'Manish':'25','Shubham':'20','Govindh':'15'}
print(len(d2))
d3 = {25:'Manish',20:'Shubham',15:'Govindh'}
print(len(d3))
d4 = {'Manish':25,'Shubham':'20','Govindh':15}
print(len(d4))
d5 = {25:'Manish','20':'Shubham',15:'Govindh'}
print(len(d5))
d6 = {'Manish':20,'Shubham':20,'Govindh':20}
print(len(d6))
d7 = {20:'Manish',20:'Shubham',20:'Govindh'}
print(len(d7))

3
3
3
3
3
3
1

**reversed**

In [25]:
d1 = {'Manish':25,'Shubham':20,'Govindh':15}
print(list(reversed(d1)))

['Govindh', 'Shubham', 'Manish']

In [26]:
d2 = {'Manish':'25','Shubham':'20','Govindh':'15'}
print(list(reversed(d2)))

['Govindh', 'Shubham', 'Manish']

In [27]:
d7 = {20:'Manish',20:'Shubham',20:'Govindh'}
print(list(reversed(d7)))

[20]

In [28]:
d5 = {25:'Manish','20':'Shubham',15:'Govindh'}
print(list(reversed(d5)))

[15, '20', 25]

**sorted**

In [29]:
d1 = {'Manish':25,'Shubham':20,'Govindh':15}
print(list(sorted(d1)))

['Govindh', 'Manish', 'Shubham']

In [30]:
d3 = {25:'Manish',20:'Shubham',15:'Govindh'}
print(list(sorted(d3)))

[15, 20, 25]

In [31]:
d4 = {'Manish':25,'Shubham':'20','Govindh':15}
print(list(sorted(d4)))

['Govindh', 'Manish', 'Shubham']

In [32]:

d7 = {20:'Manish',20:'Shubham',20:'Govindh'}
print(list(sorted(d7)))

[20]

**in**

In [3]:
d1 = {'Manish':25,'Shubham':20,'Govindh':15}

'Manish' in d1

True

In [4]:
d7 = {20:'Manish',20:'Shubham',20:'Govindh'}
20 in d7

True

In [5]:
d7 = {20:'Manish',20:'Shubham',20:'Govindh'}
'shubham' in d7

False

**Index**

In [10]:
d1 = {'Manish':25,'Shubham':20,'Govindh':15}
# Dictionary is a key:value pair
# We can not use index number directly
# whenever you want to call a value , we will use key
d1['Manish']
d1['Shubham']
d1['Govindh']

d1[i]

15

In [9]:
for i in d1:
    print(f"{i} has age {d1[i]}")

Manish has age 25
Shubham has age 20
Govindh has age 15

In [11]:
names=['Vignesh','Mohit','Nagesh']
age = [20,25,30]
for i,j in zip(names,age):
    print(f"{i} has age {j}")

Vignesh has age 20
Mohit has age 25
Nagesh has age 30

In [ ]:
d1 = {'Manish':25,'Shubham':20,'Govindh':15}
key = ['Vignesh','Mohit','Nagesh']
value = [20,25,30]

**Dictionary to list**

In [23]:
d1 = {'Manish':25,'Shubham':20,'Govindh':15}
keys,values=[],[]
for i in d1:
    keys.append(i)
    values.append(d1[i])

values

[25, 20, 15]

In [ ]:
keys=[i for i in d1]
values=[d1[i] for i in d1]

**How to create a empty list**

In [1]:
l = []
l.append(20)
l

[20]

**empty string**

In [3]:
s = ' '
s = s+'a'
s

' a'

**empty dictionary**

In [ ]:
d={}
d[<key>]=<value>

In [17]:
d={}
d['aasavari']=20
d['shruti']=25
d['purva']=28
d

{'aasavari': 20, 'shruti': 25, 'purva': 28}

In [20]:
names = ['aasavari','shruti','purva']
age=[20,25,28]
NAMES={}
for i,j in zip(names,age):
    NAMES[i]=j

NAMES

{'aasavari': 20, 'shruti': 25, 'purva': 28}

**string to list**

In [22]:
s='hello hai hai how how are you'
s.split()

['hello', 'hai', 'hai', 'how', 'how', 'are', 'you']

**Word frequency**

In [ ]:
# i/p : s='hello hai hai how how are you'
# o/p : {'hello':1, 'hai':2,how':2,'are':1 ,'you':1}

In [7]:
s='hello hai hai how how are you'
words_list=s.split()
words_list
dict1={}

for word in words_list:
    dict1[word]=s.count(word)

dict1

{'hello': 1, 'hai': 2, 'how': 2, 'are': 1, 'you': 1}

In [12]:
string1="""Data science is an interdisciplinary academic field that uses statistics,
          scientific computing, scientific methods, processes, scientific visualization,
          algorithms and systems to extract or extrapolate knowledge and insights from potentially noisy, structured, or unstructured data.
         Data science also integrates domain knowledge from the underlying applicatin.Data science is multifaceted and can be described as a science,
         a research paradigm, a research method, a discipline, a workflow, and a profession."""

#task -1: in the above sentence you need to remove a,an,is,the
# task-2: Data first letter Ascii value: 68
#         scince first letter Ascii value : 115

#{'Data science':68,'science':115}

remove = ['a','an','is','the']
for word in remove:
    string1 = string1.replace(' ',' ').strip()
    ascii_value = {'Data science':ord ('D'),'science':ord ('s')}

print("string after removing\n :",string1)
print("ascii_value\n :",ascii_value)

string after removing
 : Data science is an interdisciplinary academic field that uses statistics,
          scientific computing, scientific methods, processes, scientific visualization,
          algorithms and systems to extract or extrapolate knowledge and insights from potentially noisy, structured, or unstructured data.
         Data science also integrates domain knowledge from the underlying applicatin.Data science is multifaceted and can be described as a science,
         a research paradigm, a research method, a discipline, a workflow, and a profession.
ascii_value
 : {'Data science': 68, 'science': 115}

**Mutable - immutable**

- change the element using index

- But in dictionary there is no index

- In dictionary we will change the value based on the key

- instead of using the index,change the values using key

- if it is change it is Mutable

- if it is not change it is immutable

In [30]:
d={'aasavari': 20, 'shruti': 25, 'purva': 28}
d['purva']=20
d

{'aasavari': 20, 'shruti': 25, 'purva': 20}

- List and Dictionary are mutable

- tuple and string are immutable

- Different between list and tuple

In [33]:
d={'Fruites':['Mango']}
d['Fruites'][0]

'Mango'

In [42]:
d={'Fruites':[{'Apple':['Kashmir']}]}
d['Fruites'][0]['Apple'][0]

'Kashmir'

In [46]:
d={'Fruites':[{'Apple':{'Kashmir':['India']}}]
  }
d['Fruites'][0]['Apple']['Kashmir'][0]

'India'

In [11]:
d={'Fruites':{'Benganapalli':{'Mango':{'Nagpur':{'MH':{'Shivaji':{'Shambaji'}}}}}}}
d['Fruites']['Benganapalli']['Mango']['Nagpur']['MH']['Shivaji']

{'Shambaji'}

In [2]:
string1="""Data science is an interdisciplinary academic field that uses statistics, 
          scientific computing, scientific methods, processes, scientific visualization, 
          algorithms and systems to extract or extrapolate knowledge and insights from potentially noisy, structured, or unstructured data.
         Data science also integrates domain knowledge from the underlying applicatin.Data science is multifaceted and can be described as a science, 
         a research paradigm, a research method, a discipline, a workflow, and a profession."""

remove = ['a','an','is','the']
for word in remove:
    string1 = string1.replace(' ',' ').strip()
    ascii_value = {'Data science':ord ('D'),'science':ord ('s')}

print("string after removing\n :",string1)
print("ascii_value\n :",ascii_value)

string after removing
 : Data science is an interdisciplinary academic field that uses statistics,
          scientific computing, scientific methods, processes, scientific visualization,
          algorithms and systems to extract or extrapolate knowledge and insights from potentially noisy, structured, or unstructured data.
         Data science also integrates domain knowledge from the underlying applicatin.Data science is multifaceted and can be described as a science,
         a research paradigm, a research method, a discipline, a workflow, and a profession.
ascii_value
 : {'Data science': 68, 'science': 115}

# Dictionary Method

In [ ]:
dir('')  # string method
dir([])  # list Method
dir(())  # tuple method
dir({})  # dict method

In [2]:
print(type(''))
print(type([]))
print(type({}))
print(type(()))

<class 'str'>
<class 'list'>
<class 'dict'>
<class 'tuple'>

**items-keys-value**

In [10]:
d={'aasavari': 20, 'shruti': 25, 'purva': 28}
d

{'aasavari': 20, 'shruti': 25, 'purva': 28}

In [9]:
d={'aasavari': 20, 'shruti': 25, 'purva': 28}
d.items()

dict_items([('aasavari', 20), ('shruti', 25), ('purva', 28)])

In [11]:
d.keys()

dict_keys(['aasavari', 'shruti', 'purva'])

In [13]:
d.values()

dict_values([20, 25, 28])

In [14]:
list[d.keys()]

list[dict_keys(['aasavari', 'shruti', 'purva'])]

In [9]:
d.keys().append(2)

AttributeError: 'dict_keys' object has no attribute 'append'

- Dictionary Keys will give dictionary keys items in a list

- it looks like a list , but it is not a list

- which means we can not apply list methods

- so we need to convert into list type , by using list type casting

In [16]:
list(d.keys())

['aasavari', 'shruti', 'purva']

In [17]:
list(d.keys())[0]

'aasavari'

In [18]:
list[d.keys()]

list[dict_keys(['aasavari', 'shruti', 'purva'])]

In [19]:
for i in list[d.keys()]:
    print(i)

*list[dict_keys(['aasavari', 'shruti', 'purva'])]

In [20]:
type(list[d.keys()])

types.GenericAlias

In [11]:
# we already learn how to make a list from dictionary
d1 = {'Manish':25,'Shubham':20,'Govindh':15}
keys,values=[],[]
for i in d1:
    print(i,d1[i])
    keys.append(i)
    values.append(d1[i])

keys,values

Manish 25
Shubham 20
Govindh 15

(['Manish', 'Shubham', 'Govindh'], [25, 20, 15])

**Method-1**

In [12]:
d1 = {'Manish':25,'Shubham':20,'Govindh':15}
keys,values=[],[]
for i in d1:
    print(i,d1[i])
    keys.append(i)
    values.append(d1[i])

keys,values

Manish 25
Shubham 20
Govindh 15

(['Manish', 'Shubham', 'Govindh'], [25, 20, 15])

**Method-2**

In [14]:
d1 = {'Manish':25,'Shubham':20,'Govindh':15}
keys = list(d.keys())
values = list(d.values())

**Method-3**

In [15]:
d.items()

dict_items([('aasavari', 20), ('shruti', 25), ('purva', 28)])

In [24]:
keys,values=[],[]
for i,j in d.items():
    print(i,j)
    keys.append(i)
    values.append(j)

keys,values

aasavari 20
shruti 25
purva 28

(['aasavari', 'shruti', 'purva'], [20, 25, 28])

In [ ]:
a = 10,20  # works
a,b = 10,20 # works
a,b = 10  # not works

In [25]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

**clear**

In [ ]:
dict.clear() # Remove all items from D.

In [19]:
d1 = {'Manish':25,'Shubham':20,'Govindh':15}
d1.clear()
d1

{}

In [20]:
d1 = {'Manish':'25','Shubham':'20','Govindh':15}
d1.clear()
d1

{}

In [21]:
d={1:2,4:3,7:8}
d.clear()
d

{}

**copy**

In [22]:
d1 = {'Manish':'25','Shubham':'20','Govindh':15}
d1.copy()
d1

{'Manish': '25', 'Shubham': '20', 'Govindh': 15}

In [23]:
d={1:2,4:3,7:8}
d.copy()
d

{1: 2, 4: 3, 7: 8}

**fromkeys**

In [29]:
d1 = {'Manish':25,'Shubham':20,'Govindh':15}
d1.fromkeys('Manish')
d1 

# Create a new dictionary with keys from iterable and values set to value.

{'Manish': 25, 'Shubham': 20, 'Govindh': 15}

**get**

-  Return the value for key if key is in the dictionary, else default

In [30]:
d1 = {'Manish':25,'Shubham':20,'Govindh':15}
d1.get('Manish')
d1

{'Manish': 25, 'Shubham': 20, 'Govindh': 15}