# Set

- set is pre-define data type

- to store collection & multiple values either of same type or different type

- set are organized using {}

- initalization

- type

- max & min

- len

- sorted

- reversed

- in 

- for loop

- for in range

- index

- concatenation

**initalization**

In [1]:
s1= {10,20,30,40,50,10,35,25}
print(s1)

{50, 35, 20, 40, 25, 10, 30}

- set are unordered collection of element

- set are unchangeble 

- set do not contain duplicate items

In [2]:
s2 = {"aasavari",50,10,'PYTHON',25,10}
s2

# different datatypes values can be come like [list]
# set don't maintain order as list s2[0],s[1],s[2]

{10, 25, 50, 'PYTHON', 'aasavari'}

In [9]:
# we can access set element/items by ( using a for loop )
for i in s2:
    print(i)

50
aasavari
PYTHON
25
10

In [7]:
# to create a empyt set 
# syntax :--
aasavari = {}
print(type(aasavari))

<class 'dict'>

**type**

In [5]:
aasavari = set()
print(type(aasavari)) # correct syntax to create empty set

<class 'set'>

**max & min**

In [1]:
s1= {10,20,30,40,50,10,35,25}
max(s1)

50

In [3]:
s1= {10,20,30,'Apple','banana',90}
max(s1)

TypeError: '>' not supported between instances of 'int' and 'str'

In [4]:
s1= {'Apple','Cat','ball'}
max(s1)

'ball'

**len**

In [7]:
s1 = {'apple',10,20,'cherry'}

len(s1)

4

In [8]:
s1= {10,20,30,40,50,10,35,25}
len(s1)

7

In [10]:
s1 = {'Apple','Mango',{'Fruites'}}
len(s1)

TypeError: unhashable type: 'set'

**reversed**

In [12]:
s1= {10,20,30,40,50,10,35,25}
reversed(s1)

TypeError: 'set' object is not reversible

In [15]:
s1={'hai','i','am','learning','python'}
reversed(s1)

TypeError: 'set' object is not reversible

**sorted**

In [16]:
s1={'hai','i','am','learning','python'}
sorted(s1)

['am', 'hai', 'i', 'learning', 'python']

In [18]:
s1 = {100,200,300,400,500}
sorted(s1)

[100, 200, 300, 400, 500]

In [19]:
s1 = {'Apple','Mango',{'Fruites'}}
sorted(s1)

TypeError: unhashable type: 'set'

In [20]:
s1 = {'my','class','at','7','am'}
sorted(s1)

['7', 'am', 'at', 'class', 'my']

**in**

In [21]:
s1 = {10,20,30,40}
10 in s1

True

In [25]:
s1 = {10,20,30,'Apple',40}
'Apple' in s1

True

In [26]:
s1 = {'Apple','Mango',{'Fruites'}}
'Apple' in s1

TypeError: unhashable type: 'set'

**Methods**

In [11]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

**union**

- Return the union of sets as a new set.

- (i.e. all elements that are in either set )

In [12]:
s1 = {10,20,30,40,50}
s2 = {10,60,80}
print(s1.union(s2))

{80, 50, 20, 40, 10, 60, 30}

In [23]:
s3 = {'Apple','Ball','Cat'}
s4 = {'Cat','cherry','Ball'}
print(s3.union(s4))

{'Apple', 'Cat', 'Ball', 'cherry'}

**update**

- Update a set with the union of itself and others.

In [14]:
s1 = {10,20,30,40,50}
s2 = {10,60,80}
s1.update(s2)
print(s1,s2)

{80, 50, 20, 40, 10, 60, 30} {80, 10, 60}

In [18]:
s1 = {'PYTHON',60,70,10,50}
s2 = {"aasavari",50,10,'PYTHON',25,10}
s1.update(s2)
print(s1,s2)

{'aasavari', 70, 10, 50, 'PYTHON', 25, 60} {50, 'aasavari', 'PYTHON', 25, 10}

In [22]:
s3 = {'Apple','Ball','Cat'}
s4 = {'Cat','cherry','Ball'}
s3.update(s4)
print(s3,s4)

{'Apple', 'Cat', 'Ball', 'cherry'} {'Ball', 'cherry', 'Cat'}

**intersection**

- Return the intersection of two sets as a new set.

- all elements that are in both sets.

In [15]:
s1 = {10,20,30,40,50}
s2 = {10,60,80}
print(s1.intersection(s2))

{10}

In [19]:
s1 = {'PYTHON',60,70,10,50}
s2 = {"aasavari",50,10,'PYTHON',25,10}
print(s1.intersection(s2))

{'PYTHON', 50, 10}

**intersection_update**

- Update a set with the intersection of itself and another.

In [20]:
s1 = {10,20,30,40,50}
s2 = {10,60,80}
s1.intersection_update(s2)
print(s1,s2)

{10} {80, 10, 60}

In [21]:
s1 = {'PYTHON',60,70,10,50}
s2 = {"aasavari",50,10,'PYTHON',25,10}
s1.intersection_update(s2)
print(s1,s2)

{'PYTHON', 50, 10} {50, 'aasavari', 'PYTHON', 25, 10}

In [24]:
s3 = {'Apple','Ball','Cat'}
s4 = {'Cat','cherry','Ball'}
s3.intersection_update(s4)
print(s3,s4)

{'Ball', 'Cat'} {'Ball', 'cherry', 'Cat'}

**symmetric_difference**

- Return the symmetric difference of two sets as a new set.

-  all elements that are in exactly one of the sets.

In [29]:
s1 = {'PYTHON',60,70,10,50}
s2 = {"aasavari",50,10,'PYTHON',25,10}
s1.symmetric_difference(s2)

{25, 60, 70, 'aasavari'}

In [28]:
s3 = {'Apple','Ball','Cat'}
s4 = {'Cat','cherry','Ball'}
s3.symmetric_difference(s4)

{'Apple', 'cherry'}

**symmetric_difference_update**

- Update a set with the symmetric difference of itself and another.

In [31]:
s1 = {'hyd','Mum#bai','chen#nai','blr'}
s2 = {'hyd','Mumbai','chennai','blr'}
s1.symmetric_difference_update(s2)
print(s1,s2)

{'chen#nai', 'Mumbai', 'Mum#bai', 'chennai'} {'chennai', 'Mumbai', 'blr', 'hyd'}

In [33]:
s3 = {'Apple','Ball','Cat'}
s4 = {'Cat','cherry','Ball'}
s3.symmetric_difference_update(s4)
print(s3,s4)

{'cherry', 'Apple'} {'Ball', 'cherry', 'Cat'}

**difference**

- Return the difference of two or more sets as a new set.

- all elements that are in this set but not the others.

In [35]:
furits = {'aaple','banana','cherry','mangoes'}
furit = {'aaple','banana','cherry'}
furits.difference(furit)

{'mangoes'}

**isdisjoint**

- Return True if two sets have a null intersection.

In [36]:
s1 = {'hyd','Mum#bai','chen#nai','blr'}
s2 = {'hyd','Mumbai','chennai','blr'}
print(s1.isdisjoint(s2))

False

In [38]:
furits = {'apple','banana','cherry'}
furit = {'Apple','Banana','Cher#ry'}
furits.isdisjoint(furit)

True

**issuperset**

- Report whether this set contains another set.

In [46]:
s1 = {"aasavari",50,10,'PYTHON',25,10}
s2 = {'PYTHON',50}
print(s1.issuperset(s2))
s3 = {"aasavari",10,'apple'}
print(s1.issuperset(s3))

True
False

In [44]:
s1 = {"aasavari",50,10,'PYTHON',25,10}
s2 = {'PYTHON',50}
print(s1.issuperset(s2))
s3 = {"aasavari",10}
print(s1.issuperset(s3))

True
True