# list comprehesion

- we can store the output values by using append operations

- we are taking empty  list

- we are iterating through element from a given list

- the result we are appending in a new list

In [2]:
Square_list=[]
for i in range(10):
    Square_list.append(i*i)

Square_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

- There are three lines are in the process

- The 3 lines we can make into a single line

- This is called as **List Comprehension**

$Pattern - 1$

**only for loop**

In [ ]:
# syntax
# [<output>  <for loop>]

In [9]:
Square_list=[]
for i in range(10):
    Square_list.append(i*i)

Square_list

# Q-1) what is the output ? i*i
# Q-2) what is the output list name ? Square_list
# Q-3) what is the for loop ? for i in range(10)
# [<output> <for loop>]
sq_list=[i*i for i in range(10)]

In [7]:
sq_list=[i*i for i in range(10)]

In [10]:
# Q-2) l1=['hyd','mumbai','chennai','blr']
#  upper_list=['Hyd','Mumbai','Chennai','Blr']
l1=['hyd','mumbai','chennai','blr']
upper_list=[]
for i in l1:
    upper_list.append(i.upper())

upper_list

['HYD', 'MUMBAI', 'CHENNAI', 'BLR']

In [11]:
l1=['hyd','mumbai','chennai','blr']
upper_List=[i.upper() for i in l1]
upper_List

['HYD', 'MUMBAI', 'CHENNAI', 'BLR']

In [12]:
l1=['HYD', 'MUMBAI', 'CHENNAI', 'BLR']
lower_List=[i.lower() for i in l1]
lower_List

['hyd', 'mumbai', 'chennai', 'blr']

In [16]:
#q-3) 
l1=['hyd','Mumbai','Chennai','blr']
summ=0
for i in l1:
    print(l1.index(i))
    summ=summ+i

summ

0

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [18]:
# Q-4) 
l1=['hyd','Mumbai','Chennai','blr']
idx_list=[l1.index(i) for i in l1]
sum(idx_list)

6

- making empty list will not works in list comprehension

- initialization will not works in list comprehenshion

- assignment operation also not works

$Pattern -2$

 **for loop - if condition**

In [ ]:
# [<for loop> <if condition>]

In [19]:
# Q-5) list1=['hyd','mumbai','chennai','blr']
# ans = ['mumbai', 'chennai']
# we want element which are len of element
list1=['hyd','mumbai','chennai','blr']
list2=[]
for i in list1:
    city=len(i)
    if city>4:
        list2.append(i)
list2

['mumbai', 'chennai']

In [25]:
list1=['hyd','mumbai','chennai','blr']
list2=[i for i in list1 if len(i)>4 ]
list2

['mumbai', 'chennai']

In [27]:
# Q-6)list1=['hyd','mum#bai','chen#nai','blr']
# ans = ['mum#bai', 'chen#nai']
list1=['hyd','mum#bai','chen#nai','blr']
list2=[i for i in list1 if len(i)>4]
list2

['mum#bai', 'chen#nai']

In [39]:
# Q-7) list1=['Hyd','Mumbai','chennai','blr']
# element having letter capital
list1=['Hyd','Mumbai','chennai','blr']
list2=[i for i in list1 if i[0].isupper()]
list2

['Hyd', 'Mumbai']

In [43]:
# Q-8) list1=['hyd','mum#bai','chen#nai','blr']
# ans #='mum#bai','chen#nai'
# ans = hyd,blr
list1=['hyd','mum#bai','chen#nai','blr']
l2=[i for i in list1 if '#' in i ]
print(l2)
l3=[i for i in list1 if '#'  not in i ]
print(l3)

['mum#bai', 'chen#nai']
['hyd', 'blr']

In [45]:
# Q-9)
list1=['Hyd','Mumbai','chennai','blr']
op_title=[i for i in list1 if i.istitle()]
op_title

['Hyd', 'Mumbai']

In [52]:
# Q-10) list1='virat.kohli@rcb.com,rohit.sharma@mi.com,kl.rahul@lucknow.com'
str1='virat.kohli@rcb.com,rohit.sharma@mi.com,kl.rahul@lucknow.com'
list1=str1.split(',')
list1[0][:list1[0].index('.')] 
list1[1][:list1[1].index('.')] 
list1[2][:list1[2].index('.')]

'kl'

In [54]:
list1[0],list1[1],list1[2]

('virat.kohli@rcb.com', 'rohit.sharma@mi.com', 'kl.rahul@lucknow.com')

In [11]:
l1='virat.kohli@rcb.com,rohit.sharma@mi.com,kl.rahul@lucknow.com'
l2 = l1.split(',')
name = [i[:i.index('.')]for i in l2]
middle_name = [i[i.index('.') +1 :i.index('@')]for i in l2]
team = [i[i.index('@') +1 :i.index('.com')]for i in l2]
print(name)
print(middle_name)
print(team)

['virat', 'rohit', 'kl']
['kohli', 'sharma', 'rahul']
['rcb', 'mi', 'lucknow']

In [ ]:


- [<output>  <for loop>]  : for loop

- [<for loop> <if condition>] : for-if cond

- [<ifoutput> <if> <else> <elseoutput> <for>] : if-else

$Pattern - 3$

**if-else**

In [ ]:
# syntax
 [<ifoutput> <if> <else> <elseoutput> <for>] : if-else

**even-odd**

In [1]:
for i in range(1,20):
    if i%2==0:
        print(f"even: {i}")
    else:
        print(f"odd : {i} ")

odd : 1
even: 2
odd : 3
even: 4
odd : 5
even: 6
odd : 7
even: 8
odd : 9
even: 10
odd : 11
even: 12
odd : 13
even: 14
odd : 15
even: 16
odd : 17
even: 18
odd : 19

In [3]:
even_list,odd_list=[],[]
for i in range(1,20):
    if i%2==0:
        even_list.append(f"even: {i}")
    else:
        odd_list.append(f"odd : {i} ")

even_list,odd_list

(['even: 2',
  'even: 4',
  'even: 6',
  'even: 8',
  'even: 10',
  'even: 12',
  'even: 14',
  'even: 16',
  'even: 18'],
 ['odd : 1 ',
  'odd : 3 ',
  'odd : 5 ',
  'odd : 7 ',
  'odd : 9 ',
  'odd : 11 ',
  'odd : 13 ',
  'odd : 15 ',
  'odd : 17 ',
  'odd : 19 '])

In [ ]:
op_list=[],[]
for i in range(1,20):
    if i%2==0:
        op_list.append(f"even: {i}")
    else:
        op_list.append(f"even: {i} ")

op_list

[<if_op> <if_con> <else> <else_op> <for_loop>]

In [4]:
[f"even:{i}"  if i%2==0 else f"odd:{i} "for i in range(1,20) ]

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2164083710.py, line 1)