**Lambda Function**

- Lambda function represent function concept

- But we can write in a single line

- Like list comprehension , lambda function similar only

- it will decrease the time complexity

- always remember if we use many for loop or many condition using multiple line, the time complexity will increase

In [ ]:
**It will use a keyword lambda**

# Lambda <arguments> : <expression>

In [ ]:
1- coding - sql
2- based on ML DL 
3- technical round
4- Manger

In [2]:
def summ(n):
    return(n+10)
summ(10)

20

$Pattern - 1$

**Function with only one argument**

- function name

- argument name

- return output

In [ ]:
# syntax

# <function name> = lambda <argument name> : <return name>

def summ(n):
    return(n+10)
summ(10)

In [5]:
summ = lambda n:n+10
summ

In [7]:
summ = lambda n:n+10
summ(100)

110

In [8]:
def cube(n):
    return(n**3)

cube(10)

1000

In [9]:
cube = lambda n:n**3
cube(2)

8

$pattern - 2$

**Two argument**

In [ ]:
# syntax :

# <function name> = lambda <arg1>,<arg2> : <return output>
def add(a,b):
    return (a+b)

add(50,50)

In [10]:
add = lambda a,b:a+b
add(50,50)

100

In [11]:
add = lambda a,b,c:a+b+c
add(10,10,10)

30

In [12]:
avg = lambda a,b,c:round((a+b+c)/3,2)
avg (10,20,30)

20.0

$Pattern -3$

**Default Arguments**

In [14]:
average= lambda num1,num2=20:round((num1+num2)/2 ,2)
    
average(40)

30.0

$Pattern - 4$

**If - else**

In [15]:
def max(a,b):
    if a>b:
        return(a)
    else:
        return(b)

max(10,20)

20

In [ ]:
# syntax : function name = lambda <arg1>,<arg2>: <list comprehension>

# syntax : function name = lambda <arg1>,<arg2> : <if_op> <if_cond> <else_op> <else_cond>

In [5]:
maxx = lambda a,b: a if a>b  else b
maxx(10,20)

20

$Pattern -5$

**using list**

In [16]:
l=['hyd','chennai','mumbai']
# op=['Hyd','Chennai','Mumbai']
op=[]
for i in l:
    op.append(i.capitalize())
op

['Hyd', 'Chennai', 'Mumbai']

In [ ]:
lambda <variable>:<op>
# variable : i
# op : i.capitalize()
lambda <variable>:<op>,<iterator>
# <iterator> : list

**map**

- the function and iterator are variable now 

- we need to map both

In [19]:
l=['hyd','chennai','mumbai']
lambda i:i.capitalize(),l

(<function __main__.<lambda>(i)>, ['hyd', 'chennai', 'mumbai'])

In [20]:
l=['hyd','chennai','mumbai']
map(lambda i:i.capitalize(),l)

In [21]:
# apply the list to see the values

l=['hyd','chennai','mumbai']
tuple(map(lambda i:i.capitalize(),l))

('Hyd', 'Chennai', 'Mumbai')

In [ ]:
# step-1 : write your normal expression 
#       ex :lambda <variable>:<op>====> lambda i:i.capitalize()
# step-2 : add the iterator
#       ex :lambda <variable>:<op>,<list>====>lambda i:i.capitalize(),list1
# step-3 : Map the both
#       ex : map(lambda <var> : <op>,<list>)====>(map(Lambda i: i.capitalize()))
# step-4 : save the values in a list,
#       ex : List(map(Lambda <var> : <op>,<list>))===>List(map(lambda i : i.capitalize()))

# Notes : Those who are getting List object not callable use tuple

In [ ]:
- case -1 : Function call with one argument

          - lambda argument : Expression

          - lambda variables : return output

- case -2 : Function call with two arguments

          - lambda arg1,agr2 : Expression

          - lambda var1,var2 : return output

- case -3 : Function call with Default argument

          - lambda arg1,arg2=500 : Expression

          - lambda var1,var2=500 : return output

- case -4 : Function call with two arguments and if - else statement

          - lambda arg1,arg2 : Expression

          - lambda var1,var2 : if_output if_con else else_op for loop

- case -5 : lambda operations using List

          - lambda arg : Expression,iterator

          - map(lambda var: operation,list)

In [1]:
l=['hyd','chennai','mumbai']
tuple(map(lambda i:i.upper(),l))   # through tuples

('HYD', 'CHENNAI', 'MUMBAI')

In [2]:
l=['hyd','chennai','mumbai']
list(map(lambda i:i.upper(),l))   # through list

['HYD', 'CHENNAI', 'MUMBAI']

In [3]:
l=['hyd','chennai','mumbai']
tuple(map(lambda i:i.title(),l))

('Hyd', 'Chennai', 'Mumbai')

In [4]:
l=['hyd','chennai','mumbai']
tuple(map(lambda i:i.lower(),l))

('hyd', 'chennai', 'mumbai')

In [7]:
l=['hyd','chennai','mumbai']
tuple(map(lambda i:i.center(10),l))

('   hyd    ', ' chennai  ', '  mumbai  ')

In [8]:
l=['hyd','che#nnai','mum#bai','blr']
for i in l:
    if '#' in i:
       print(i)

['che#nnai', 'mum#bai']

**Filter**

- whenever if conditions are there use filter

In [11]:
l=['hyd','che#nnai','mum#bai','blr']
#op=['che#nnai','mum#bai']
tuple(map(lambda i:if '#' in i,l))

SyntaxError: invalid syntax (1246713187.py, line 3)

In [9]:
# Mistake - 1 : tuple(map(lambda i:if '#' in i,l))
               # [ do not write if]

l=['hyd','che#nnai','mum#bai','blr']
#op=['che#nnai','mum#bai']
tuple(map(lambda i: '#' in i,l))

(False, True, True, False)

In [10]:
l=['hyd','che#nnai','mum#bai','blr']
#op=['che#nnai','mum#bai']
tuple(filter(lambda i: '#' in i,l))

('che#nnai', 'mum#bai')

In [16]:
# number = [1,3,2,4,6,7]
num=[1,3,2,7,6,4]
list(filter(lambda i: i%2==0 ,num))

[2, 6, 4]

In [31]:
l1=[1,2,3,4,5]
lambda summ ,i :summ+i,l1

(<function __main__.<lambda>(summ, i)>, [1, 2, 3, 4, 5])

In [32]:
l1=[1,2,3,4,5]
list(map(lambda summ ,i :summ+i,l1))

TypeError: <lambda>() missing 1 required positional argument: 'i'

In [ ]:
**Reduce**

- all in biult function can achieve by Reduce

- Reduce is avaiable from function tool package

In [34]:
l1=[1,2,3,4,5]
reduce(lambda summ,i :summ+i,l1)

NameError: name 'reduce' is not defined

In [41]:
import functools

In [42]:
dir(functools)

['GenericAlias',
 'RLock',
 'WRAPPER_ASSIGNMENTS',
 'WRAPPER_UPDATES',
 '_CacheInfo',
 '_HashedSeq',
 '_NOT_FOUND',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_c3_merge',
 '_c3_mro',
 '_compose_mro',
 '_convert',
 '_find_impl',
 '_ge_from_gt',
 '_ge_from_le',
 '_ge_from_lt',
 '_gt_from_ge',
 '_gt_from_le',
 '_gt_from_lt',
 '_initial_missing',
 '_le_from_ge',
 '_le_from_gt',
 '_le_from_lt',
 '_lru_cache_wrapper',
 '_lt_from_ge',
 '_lt_from_gt',
 '_lt_from_le',
 '_make_key',
 '_unwrap_partial',
 'cache',
 'cached_property',
 'cmp_to_key',
 'get_cache_token',
 'lru_cache',
 'namedtuple',
 'partial',
 'partialmethod',
 'recursive_repr',
 'reduce',
 'singledispatch',
 'singledispatchmethod',
 'total_ordering',
 'update_wrapper',
 'wraps']

In [43]:
l1=[1,2,3,4,5]
functools.reduce(lambda summ,i :summ+i,l1)

15

In [44]:
from functools import reduce
l1=[1,2,3,4,5]
reduce(lambda summ,i :summ+i,l1)

15

In [48]:
import functools as ft
l1=[1,2,3,4,5]
ft.reduce(lambda summ,i :summ+i,l1)

15

In [ ]:
============ Method-1 =======================
import functools
l1=[1,2,3,4,5]
functools.reduce(lambda summ,i :summ+i,l1)

============ Method-2 ======================
from functools import reduce
l1=[1,2,3,4,5]
reduce(lambda summ,i :summ+i,l1)

============ Method-3 =======================
import functools as ft
l1=[1,2,3,4,5]
ft.reduce(lambda summ,i :summ+i,l1)

In [50]:
import functools as ft
l1=[1,2,3,4,5]
ft.reduce(lambda mul,i :mul*i,l1)

120

In [51]:
from functools import reduce
l1=[1,2,3,4,5]
reduce(lambda x,y :x+y,l1)

15

In [52]:
from functools import reduce
l1=[1,2,3,4,5]
reduce(lambda x,y :x<y,l1)

True

In [54]:
from functools import reduce
l1=[1,2,3,4,5]
filter(lambda x,y :x<y,l1)

In [58]:
import functools

In [59]:
functools

In [ ]:
# Maximun

In [ ]:
map()