In [1]:
print(10)

10

In [2]:
print('python')

python

In [3]:
print(10,20,30)

10 20 30

In [4]:
print(10,10.5,'Nareshit')

10 10.5 Nareshit

In [5]:
n1=10
n2=20
print(10,20)

10 20

In [1]:
n1=10
n2=20
print()

In [2]:
print(10),print(20)

10
20

(None, None)

In [7]:
print(10,20,30)
print(10),print(20)

# None: No value

10 20 30
10
20

(None, None)

In [8]:
n1=10
n2=20
n1,n2

(10, 20)

In [9]:
a=10
b=20
c=a+b
c
# the addition of 10 and 20 is 30
print("the addition of 10 and 20 is 30")
print("the addition of" a "and" b "is" c)

30

**Format**

In [16]:
x='aasavari'
y=20
z='nagpur'
print("my name is {} and im {} year old im from {}".format(x,y,z))

my name is aasavari and im 20 year old im from nagpur

In [15]:
emp_name='Aasavari'
emp_role= 'assisant manager'
company='microsoft'
print("my name is{},and my role is{} in {}company".format(emp_name,emp_role,company))

my name isAasavari,and my role isassisant manager in microsoftcompany

In [17]:
a=100
b=200
c=a+b
print(f" adition of {a} and{b} is {c}")

 adition of 100 and200 is 300

In [19]:
emp_name='Aasavari'
emp_role= 'assisant manager'
company='microsoft'
print(f"my name is {emp_name},and my role is {emp_role} in {company} company") #f string holder

my name is Aasavari,and my role is assisant manager in microsoft company

**f string holder**

In [20]:
# read your name
#read your age
#read your city
x='aasavari'
y=20
z='nagpur'
print(f"my name is {x} and im {y} year old im from {z}")

my name is aasavari and im 20 year old im from nagpur

In [2]:
stu_name='Aasavari'
sub='python'
sir_name='omkar nallagoni'
print(" My Name is {} and im learing {} from {} sir".format(stu_name,sub,sir_name))

 My Name is Aasavari and im learing python from omkar nallagoni sir

In [5]:
stu_name='Aasavari'
sub='python'
sir_name='omkar nallagoni'
print(f" My Name is {stu_name} and im learing {sub} from {sir_name} sir")

 My Name is Aasavari and im learing python from omkar nallagoni sir

In [4]:
num1=100
num2=200
average=(num1+num2)/2
print("the average of {} and {} is : {}".format(num1,num2,average))
# the average of 100 and 200 is : 150

the average of 100 and 200 is : 150.0

In [4]:
num1=100
num2=200
average=(num1+num2)/2
print(f"the average of {num1} and {num2} is : {average}")
print("the average of {} and {} is : {}.".format(num1,num2,average))
# the average of 100 and 200 is : 150

the average of 100 and 200 is : 150.0
the average of 100 and 200 is : 150.0.

In [14]:
# take the radius of cicrle 
#take the pi value 3.14
# find the area of the circle = pi*r*r
r1=5
pi=3.14
radius=pi*r*r
print(" the area of circle {} and {} is {} ".format(r1,r1,radius))

 the area of circle 5 and 5 is 78.5

In [16]:
r1=5
pi=3.14
radius=pi*r*r
print(f" the area of circle {r1} and {r1} is {radius} ")

 the area of circle 5 and 5 is 78.5

In [18]:
# take the breadth of triangle
# take the height of the triangle
# area of the triangle = 1/2*base*height
base=5
height=10
area_tri=1/2*base*height
print(" the area of triangle {} and {} is {}".format(base,height,area_tri))

 the area of triangle 5 and 10 is 25.0

In [20]:
base=5
height=10
area_tri=1/2*base*height
print(f" the area of triangle {base} and {height} is {area_tri}")

 the area of triangle 5 and 10 is 25.0

In [22]:
#take the bill_amount =1000
#take the tip_percentage =10
#calculate tip_amount
#calculate the total bill
# print the total bill
bill_amount=1000
tip_percentage=10  #M-1
tip_amount=bill_amount*tip_percentage/100  #10/100*1000
total_bill=bill_amount+tip_amount
print(f" the total bill is : {total_bill}")

 the total bill is : 1100.0

In [23]:
print(10)
print(20)

10
20

**end operator**

- combining multiple print statement in single line

In [27]:
print(10,end=' & ')
print(20)

10 & 20

In [28]:
print(10,end=' ')
print(20,end=' ')
print(30)

10 20 30

$sep$

- seperate the multiple values in a single print statement

In [32]:
print(10 , 20, 30 ,sep='----->')

#10 & 20 & 30
# in '' we can use any &,--.=

10----->20----->30

In [33]:
print(f" the addition of {5} and {3} is {5+3} .")

 the addition of 5 and 3 is 8 .

In [34]:
print("the addition of {} and {} is {} . ".format(5,3,5+3))

the addition of 5 and 3 is 8 .

In [35]:
print('the addition of 5 and 3 is 8 ','.',sep='')

the addition of 5 and 3 is 8 .